<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog IT Here</title>
    <!-- Custom CSS link -->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <div>
            <h1>Blog IT Here</h1>
        </div>
        <div>
                <a href="/">Blog It!</a>
            <ul>
                <a href="/">Home</a>
                {{#if logged_in}}
                <a href="/dashboard">Dashboard</a>
                <button id="logout">Logout</button>
                {{else}}
                <a href="/register">Register</a>
                <a href="/login">Login</a>
                {{/if}}
            </ul>
        </div>
        </nav>

    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <div>
            <h4>&copy; 2023 Blog IT Here. All rights reserved.</h4>
        </div>
    </footer>

</body>

</html>