<h1>Home</h1>

<div>
  <h3 class="text-center bottom">
    Welcome to Blog IT Here, home of the 100% IT blog site!
  </h3>
</div>
<div>
  <h4 class="text-center bottom">Login or Register to get started. Once you are logged in please feel free to start a
    new blog or look over other blogs already posted which you can comment on.
  </h4>
  <h4 class="text-center bottom">
    Just remember, if it's not IT related it does not belong here and will be removed!
    Thank you and have a great day!
  </h4>
</div>
<ul>
  {{#each posts}}
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-content">
          <span class="card-title">{{title}}</span>
          <p class="card-text">{{text}}</p>
          <p>By: {{user.userName}}</p>
          <a href="/{{id}}">View Post</a>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</ul>