<div class="login-container">
    <form id="login_form">

        <h1>User Login</h1>


        <label for="username">Username:</label>
        <input name="username" type="text" id="username" placeholder="Enter user name" required minlength="3">


        <label for="password">Password:</label>
        <input name="password" type="password" id="password" placeholder="Enter password" required minlength="6">
        {{!-- {{#if error}}
        <p class="error-message">{{ error }}</p>
        {{/if}} --}}


        <button>Sign In</button>


        <p class="d-flex justify-content-center align-items-center">Not a member?<a href="/register"
                id="create-button">Create Account</a></p>
    </form>
</div>
<script src="/js/login.js"></script>