{{#if error}}
<script>alert("{{error}}")</script>
{{/if}}

<form action="/register" method="POST">
    <h1>Register User</h1>

    <label for="username">Username:</label>
    <input name="username" type="text" id="username" placeholder="Enter username" required minlength="3">

    <label for="password">Password:</label>
    <input name="password" type="password" id="password" placeholder="Enter password" required minlength="6">

    <button type="submit">Create Account</button>
</form>