/* Global style */
body, html {
  height: 100%;
}

.text-center {
  text-align: center;
}

.bottom {
  margin-bottom: 25px;
}

.bg {
  background-color: lightgray;
}

.input {
  color: black;
}

header {
  text-align: center;
  background-color: #5d82ae;
  color: white;
  padding: 4px 3%;
  font-family: 'Share Tech', sans-serif;

}

main {
  font-family: 'Share Tech', sans-serif;
  color: white;
  padding: 4px 3%;
  background-image: url(../assets/background.jpg);
  background-color: #cccccc;
  /* Used if the image is unavailable */
  height: 100%;
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
}

footer {
  /* Push the footer to the bottom */
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #5d82ae;
  padding: 4px;
  color: white;
  font-family: 'Share Tech', sans-serif;
}


/* Custom style */

/* Style the links inside the navigation bar */
header a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px
}

/* Change the color of links on hover */
header a:hover {
  background-color: #ddd;
  border-radius: 25px;
  color: black;
}

/* Add a color to the active/current link */
header a.active {
  background-color: #9c776d;
  color: red;
}

/* Right-aligned section inside the top navigation */
header .nav {
  float: right;
}

/* Post styling on index */
.card-content {
  background-color: lightgray;
}

ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.card {
  flex: 0 1 32%;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 4px;
}