
/* Global style */
header {
    text-align: center;
    background-color: #5d82ae;
    color: white;
    padding: 4px 3%;
    font-family: 'Share Tech', sans-serif;

}

main {
    font-family: 'Share Tech', sans-serif;
    color: white;
    padding: 4px 3%;
}

footer {
    /* Push the footer to the bottom */
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #5d82ae;
    padding: 4px;
    color: white;
    font-family: 'Share Tech', sans-serif;
}


/* Custom style */
/* Add a black background color to the top navigation */
/* nav {
    background-color: #333;
    overflow: hidden;
} */

/* Style the links inside the navigation bar */
header a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px
}

/* Change the color of links on hover */
header a:hover {
  background-color: #ddd;
  border-radius: 25px;
  color: black;
}

/* Add a color to the active/current link */
header a.active {
  background-color: #9c776d;
  color: white;
}

/* Right-aligned section inside the top navigation */
header .nav {
  float: right;
}

main {
  background-image: url(../assets/background.jpg);
  background-color: #cccccc; /* Used if the image is unavailable */
  
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

